@import '../../varaibles.scss';

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: $c-green;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 1.75rem;
}

.sidebar__top-container {
    display: flex;
    gap: 1rem;
}

.sidebar__dashboard-logo {
    height: 3rem;
    color: $c-white;
}

.sidebar__header {
    font-size: 3rem;
    color: $c-white;
}

.sidebar > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar > ul > li {
    display: flex;
    gap: 1rem;
}

.sidebar__logo {
    height: 2rem;
    color: $c-white;
}

.sidebar__text {
    font-size: 2rem;
    color: $c-white;
}